<ion-tabs tabbarPlacement="top" tabbarLayout="label-hide" color="primary">
  <ion-tab label="Conversations" icon="chatbubbles" href="/app/tabs/(conversations:conversations)">
    <ion-router-outlet name="conversations"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Friends" icon="people" href="/app/tabs/(friends:friends)">
    <ion-router-outlet name="friends"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Settings" icon="settings" href="/app/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
