
.chat__list {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;

  .chat__list__item {
    display: block;
    width: 100%;

    .chat__list__divider {
      display: block;
      text-align: center;
      font-size: 12px;
      color: #888;
      font-weight: normal;
      margin: 8px 0;
    }
  }
}
.chat__form {
  padding-top: var(--padding-top);
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .chat__form__icons {
    flex: 0 0 auto;

    -moz-translate: all .5s;
    translate: all .5s;

    &--hide {
      flex: 0 100 0;
      width: 0;
      height: 0;
      max-width: 0;
      position: relative;
      overflow: hidden;
    }
  }

  .chat__form__textarea {
    flex: 1;
    height: 37px;

    -moz-translate: all .5s;
    translate: all .5s;

    --padding-top: 8px;
    --padding-end: 8px;
    --padding-bottom: 8px;
    --padding-start: 8px;
  }
}

ion-avatar {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}
app-chatbubble {
  display: block;
  width: 100%;
}

.load-more-button {
  margin-bottom: 16px;
}